## 所有用户默认限制
* soft nofile 1048576
* hard nofile 1048576

* soft nproc 1048576
* hard nproc 1048576

* soft core unlimited
* hard core unlimited

* soft memlock unlimited
* hard memlock unlimited

## root 用户
root soft nofile 1048576
root hard nofile 1048576

root soft nproc 1048576
root hard nproc 1048576

root soft core unlimited
root hard core unlimited

root soft memlock unlimited
root hard memlock unlimited
