---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-coredns
  namespace: kube-system
spec:
  valuesContent: |-
    replicaCount: 3
    resources:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 200m
        memory: 256Mi
    
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 25%
    terminationGracePeriodSeconds: 30
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - topologyKey: "kubernetes.io/hostname"
          labelSelector:
            matchExpressions:
            - key: k8s-app
              operator: In
              values:
              - kube-dns
    autoscaler:
      enabled: true
      coresPerReplica: 256
      nodesPerReplica: 16
      min: 3
      max: 12
      includeUnschedulableNodes: false
      preventSinglePointFailure: true
    prometheus:
      service:
        enabled: true
        annotations:
          prometheus.io/scrape: "true"
          prometheus.io/port: "9153"
        selector: {}
#      monitor:
#        enabled: true
#        additionalLabels: {}
#        namespace: ""
#        interval: ""
#        scrapeTimeout: ""
#        scheme: ""
#        honorLabels: false
#        tlsConfig: {}
#        relabelings: []
#        metricRelabelings: []
#        selector: {}
